@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: rgb(8, 107, 91);
  --dark-color-b: rgb(8, 107, 91);
  --light-color: #fafafa;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background:white;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin: 20px;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.button{
  cursor: pointer;
  padding: 5px 15px;
  background:  white;
  color:var(--dark-color-a)  ;
  border: 0;
  border-radius: 10px;
  
  font-size: 17px;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background:  var(--dark-color-a);
  color:  var(--light-color);
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius:20px;
  font-size: 17px;
  width:20%;
}

/* Chat Page */

.chat-container {
  max-width: 95%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.chat-header {
  background: var(--dark-color-a);
  height: 80px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  border-radius: 10px;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 500px;
}

.chat-sidebar {
  background: var(--dark-color-b);
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
  gap: 20px;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  padding: 30px;
 height: 400px;
  overflow-y: scroll;
  background: url(Images/background.jpg);
}


.chat-messages .message {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #dadada;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: #004314;
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #000000;
}


.chat-form-container {
  padding: 20px 0;
  background-color: var(--dark-color-a);
  margin-top: 20px;
  border-radius: 10px;
  background-color: black;
}

.chat-form-container form {
  display: flex;
}


.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 15px;
  height: 40px;
  border: 0;
  flex: 1;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
}


.logo-img{
  width: 150px;
  height: 90%;
}

/* ---------------------------- */
