

/* $light-green: #80cbc4;
$light-gray: #7E878c;
$dark-gray: #3f3f3f;
$white: #ffffff;
fsize : 16px;
*/



::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
            /* min-height: 100vh; */
    overflow: hidden;
    border-radius: 10px;

    
}

    header{
        background-color: #009688;
        color : #ffffff;
        padding: 7px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    div.title{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    header button{
        background-color: transparent;
        border: none;
        outline: none;
        display: none;
    }

    div.title h1{
        font-size: 32px;
        margin-left: 10px;
    }

div.container{
     background-color: #7E878c;
     padding: 20px;
     display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
}

div.users-window{
    width: 350px;
    color: #ffffff;
     background-color: #3f3f3f;
     padding: 15px 20px;
     border-radius: 10px;
     margin-right: 20px;
}

div.users-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
}

div.users-head h4{
    background-color: #7E878c;
    padding: 0 8px;
    border-radius: 50px;
}

div.users-list p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;

}

div.chat-window{
    width: 100%;
    border-radius: 10px;
    /* background-color: #3f3f3f; */
    background-image: url("https://as1.ftcdn.net/v2/jpg/05/77/39/62/1000_F_577396291_i4LHySSzrD2yR7fkhOZxHY53B1eJsCYt.jpg");
}

div.chats{
    height: 65vh;
    padding: 20px;
    overflow-y: auto;
}
div.user-join{
    font-size: 0.9rem;
    color:#3f3f3f;
    background-color: #ffffff;
    border-radius: 50px;
    width: max-content;
    padding: 7px 20px;
    margin: 0 auto;
    margin-bottom: 15px;
}
div.message{
    color: #3f3f3f;
    background-color: #ffffff;
    padding: 5px 15px;
    max-width: 400px;
    margin-bottom: 15px;
    border-radius: 10px 50px 50px 10px;
}
div.message{
    font-size: 16px;
}

div.outgoing{
    margin-left: auto;
    color: #ffffff;
    background-color: #009688;
    border-radius: 50px 10px 10px 50px;
    text-align: right;
}

div.user-input{
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        padding: 20px;      
}
div.user-input input{
    font-size: 16px;
    background-color: #ffffff;
    padding: 10px 20px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 50px 0 0 50px;

}

div.user-input button{
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    border: none;
    outline: none;
    letter-spacing: 0.5;
    color: #ffffff;
    background-color: #009688;
    border-radius: 0 50px 50px 0;
}


/* media query */

@media screen and (max-width: 900px) {
    main{
        width: 100%;
    }
    header button{
        display: block;
    }

    div.container{
        position: relative;
   }
   
    div.users-window{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0 0 10px 10px;
        height: max-content;
        z-index: 11;
        box-shadow: 0 15px 20px -20px black;
        padding-bottom: 0;
        display: none;
    }

    div.message{
        max-width: 300px;
    }
}
